.block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: relative;
}

.title {
  text-align: center;
}
.panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.myPostBlock {
  width: 100%;
  background: linear-gradient(rgb(29, 37, 41), #37474f);
  padding: 20px 0;
}
.postsBlock {
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.rightColumn {
  margin-left: 20px;
}
.leftColumn {
  margin-left: 20px;
}

.fetching {
  position: relative;
  height: 120px;
  width: 100%;
}
.fetching div {
  top: 25% !important;
  left: 46.5% !important;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .75);
}

.dialog {
  position: sticky;
  top: 20%;
  left: 33%;
  background-color: #37474f;
  width: 450px;
  border-bottom-right-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

