.item {
  font-size: 20px;
  margin-bottom: 40px;
  width: 570px;
}

.ava {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.author {
  display: block;
  color: #fff;
  font-size: 16px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
}


.date {
  color: #acacac;
  margin-top: 5px;
  font-size: 12px;
}

.img {
  width: 150%;
}

.like, .comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  cursor: pointer;
  color: #64ffda;
}

.message {
  margin-top: 5px;
  margin-bottom: 15px;
  max-width: 480px;
}

.tags {
  font-size: 16px;
  color: #64ffda;
  margin-bottom: 0;
  margin-top: 15px;
}

.content {
  width: 480px;
  display: inline-block !important;
  background-color: #263238;
  padding: 15px;
  padding-bottom: 8px;
  margin-left: 60px;
  border-radius: 12px;
  border-top-left-radius: 0px;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.25);
  position: relative;
}
.content::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border: 30px solid transparent; 
  border-left: 10px solid #263238; 
  border-top: 10px solid #263238;
  top: -3px;
  left: -3px;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.footer {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #565c68;
  display: flex;
  align-items: center;
  justify-content: space-between ;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end ;
}

.parent {
  width: 480px;
  height: 500px;
  overflow: hidden;
  position: relative;
  margin: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  height: 100%;
  border-radius: 8px;
}

.container {
  display: flex;
  align-items: center;
  position: relative;
}

.action {
  color: #fff;
  border: none;
  background: none;
  padding: 6px 10px;
  font-size: 15px;
  transition: .2s;
  border-radius: 12px;
  outline: none;
}
.action:hover {
  cursor: pointer;
  color: #64ffda;
}
