.navbar {
  position: absolute;
  top: 43%;
  left: 2px;
}
.block {
  padding-bottom: 20px;
}
.item {
  padding: 5px;
  background-color: #37474f;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .3);
  width: 44px;
  transition: .2s;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 4px;
}
.active {
  color: #9dd3c6;
}

.text {
  display: block;
  transition: .2s;
  margin-left: 12px;
  width: 0;
  overflow: hidden;
}

@media (min-width:992px) {
  .item:hover {
    width: auto;
  }
  .item:hover .text {
    width: auto;
  }
}

